---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import { Image } from "astro:assets";
import Logo from "../assets/name.png";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const languageSwitcher = document.getElementById("languageSwitcher");

    // Add an event listener to handle language change
    languageSwitcher.addEventListener("change", (event: Event) => {
      const selectedLang = (event.target as HTMLSelectElement).value ?? "it";
      const lang = selectedLang === "it" ? "" : "en";
      window.location.href = `/${lang}/`; // Redirect to the selected language page
    });
  });
</script>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDagZLrwW9iiGBsNbB7c_Rf16eIYDg2lIM",
    authDomain: "sindia-72f6d.firebaseapp.com",
    projectId: "sindia-72f6d",
    storageBucket: "sindia-72f6d.firebasestorage.app",
    messagingSenderId: "351704236454",
    appId: "1:351704236454:web:16d8805e1068b8552f0f67",
    measurementId: "G-M2VWZ98HF0",
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

<header
  class="sticky top-0 z-50 bg-white shadow-md flex items-center justify-between px-4 py-3"
>
  <Image src={Logo} alt="Sindia Logo" height={32} />
  <nav class="hidden md:flex space-x-6 text-primary font-heading">
    <a href={translatePath(`#home`)} class="hover:underline"
      >{t("header.home")}</a
    >
    <a href="../assets/SINDIA_RISTORANTE.pdf" class="hover:underline"
      >{t("header.menu")}</a
    >
    <a href={translatePath(`#gallery`)} class="hover:underline"
      >{t("header.gallery")}</a
    >
    <a href={translatePath(`#about`)} class="hover:underline"
      >{t("header.about")}</a
    >
    <a href={translatePath(`#reviews`)} class="hover:underline"
      >{t("header.reviews")}</a
    >
    <a href={translatePath(`#contact`)} class="hover:underline"
      >{t("header.contact")}</a
    >
  </nav>
  <div class="flex items-center space-x-4">
    <a
      class="md:hidden bg-primary text-white px-4 py-2 rounded-full hover:bg-secondary transition-all"
      href="../assets/SINDIA_RISTORANTE.pdf">{t("header.menu")}</a
    >
    <a
      class="bg-primary text-white px-4 py-2 rounded-full hover:bg-secondary transition-all"
      href="tel:+39 3758999969">{t("header.reserve")}</a
    >
    <select
      aria-label="Language Switcher"
      class="border-none bg-transparent font-body text-primary"
      value={lang}
      id="languageSwitcher"
    >
      <option value="en" selected={lang === "en"}>EN</option>
      <option value="it" selected={lang === "it"}>IT</option>
    </select>
  </div>
</header>
