<section
  id="home"
  class="h-screen bg-cover bg-center flex flex-col items-center justify-center text-center text-white bg"
>
</section>

<style>
  .bg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/hero/VetroCucina.jpg");
  }

  @media screen and (min-width: 769px) {
    .bg {
      background-image: url("../assets/hero/VetroCucinaL.jpg");
    }
  }

  @media screen and (min-width: 1281px) {
    .bg {
      background-image: url("../assets/hero/VetroCucinaL.jpg");
    }
  }
</style>
