<section
  id="home"
  class="flex flex-col items-center justify-center text-center text-white bg-cover bg-center bg-no-repeat bg"
>
</section>

<style>
  .bg {
    background-image: url("../assets/hero/VetroCucina.jpg");
    height: 60vh;
  }

  @media screen and (min-width: 769px) {
    .bg {
      background-size: cover;
      height: 80vh;
      background-image: url("../assets/hero/VetroCucinaL.jpg");
    }
  }

  @media screen and (min-width: 1281px) {
    .bg {
      height: 100vh;
      background-image: url("../assets/hero/VetroCucinaL.jpg");
    }
  }
</style>
