---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const response = await fetch(new URL("/api/gallery", Astro.url));
const galleryImages = await response.json();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); // Get translation function based on the selected language
---

<section id="gallery" class="py-16 px-6 bg-white text-gray-800 text-center">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-4xl md:text-5xl font-heading mb-8">{t("gallery.title")}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {
        !!galleryImages &&
          galleryImages.map((image) => (
            <Image
              src={image.public_url}
              alt={t("gallery.altText.dish1")}
              width={320}
              height={320}
              class="w-full h-auto rounded-lg shadow-md"
            />
          ))
      }
    </div>
  </div>
</section>
